<section class="main-container" id="login">
  <div class="box">
  <h2>Login </h2>
  <form [formGroup]="loginForm" (ngSubmit)="adminlogin(loginForm.value)" class="form">
    <div class="inputBox" [class.has-error]="userid?.invalid">
      <input type="text" placeholder="User Name" formControlName="userid" required>
      <div class="validator">
        <span class="text-danger"
          *ngIf="loginForm.controls['userid'].touched && loginForm.hasError('required','userid')">
          *username is required</span>
      </div>
    </div><br>
    <div class="inputBox" [class.has-error]="password?.invalid">
      <input type="password" placeholder="Password" formControlName="password" required>
      <div class="validator">
        <span class="text-danger"
          *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required','password')">
          *password is required</span>
      </div>
    </div>
    <button type="submit" class="btn">Login</button>
  </form>
</div>
</section>