<div class="row">
    <div class="col-75">
        <div class="container">
            <form [formGroup]="checkoutForm" (ngSubmit)="order(this.checkoutForm.value)">
                <div class="row">
                    <div class="col-50">
                        <h3>Billing Address</h3>

                        <label for="fname"><em class="fa fa-user"></em> Full Name</label>
                        <input type="text" id="fname" name="firstname" placeholder="John M. Doe"
                            formControlName="firstName">
                        <div class="help-block text-danger" *ngIf="firstName.touched">
                            <span *ngIf="firstName.errors?.required">
                                First Name is required!!!
                            </span>
                        </div>

                        <label for="email"><em class="fa fa-envelope"></em> Email</label>
                        <input type="text" id="email" name="email" placeholder="john@example.com"
                            formControlName="email">
                        <div class="help-block text-danger" *ngIf="email.touched">
                            <span *ngIf="email.errors?.required"> Email is required!!! </span>
                        </div>

                        <label for="adr"><em class="fa fa-address-card-o"></em> Address</label>
                        <input type="text" id="adr" name="address" placeholder="542 W. 15th Street"
                            formControlName="address">
                        <div class="help-block text-danger" *ngIf="address.touched">
                            <span *ngIf="address.errors?.required"> address is required!!! </span>
                        </div>

                        <label for="city"><em class="fa fa-institution"></em> City</label>
                        <input type="text" id="city" name="city" placeholder="New York" formControlName="city">
                        <div class="help-block text-danger" *ngIf="city.touched">
                            <span *ngIf="city.errors?.required"> city is required!!! </span>
                        </div>

                        <div class="row">
                            <div class="col-50">
                                <label for="state">State</label>
                                <input type="text" id="state" name="state" placeholder="NY" formControlName="state">
                                <div class="help-block text-danger" *ngIf="state.touched">
                                    <span *ngIf="state.errors?.required"> state is required!!! </span>
                                </div>
                            </div>

                            <div class="col-50">
                                <label for="zip">Zip</label>
                                <input type="text" id="zip" name="zip" placeholder="10001" formControlName="zip">
                                <div class="help-block text-danger" *ngIf="zip.touched">
                                    <span *ngIf="zip.errors?.required"> zip is required!!! </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Payment</h3>
                        <label for="fname">Accepted Cards</label>
                        <div class="icon-container">
                            <em class="fa fa-cc-visa" style="color:navy;"></em>
                            <em class="fa fa-cc-amex" style="color:blue;"></em>
                            <em class="fa fa-cc-mastercard" style="color:red;"></em>
                            <em class="fa fa-cc-discover" style="color:orange;"></em>
                        </div>

                        <label for="cname">Name on Card</label>
                        <input type="text" id="cname" name="cardname" placeholder="John More Doe"
                            formControlName="cname">
                        <div class="help-block text-danger" *ngIf="cname.touched">
                            <span *ngIf="cname.errors?.required"> cname is required!!! </span>
                        </div>
                      
                        <label for="ccnum">Credit card number</label>
                        <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444"
                            formControlName="ccnum">
                        <div class="help-block text-danger" *ngIf="ccnum.touched">
                            <span *ngIf="ccnum.errors?.required"> ccnum is required!!! </span>
                        </div>

                        <label for="expmonth">Exp Month</label>
                        <input type="text" id="expmonth" name="expmonth" placeholder="September"
                            formControlName="expmonth">
                        <div class="help-block text-danger" *ngIf="expmonth.touched">
                            <span *ngIf="expmonth.errors?.required"> expmonth is required!! </span>
                        </div>

                        <div class="row">
                            <div class="col-50">
                                <label for="expyear">Exp Year</label>
                                <input type="text" id="expyear" name="expyear" placeholder="2018"
                                    formControlName="expyear">
                                <div class="help-block text-danger" *ngIf="expyear.touched">
                                    <span *ngIf="expyear.errors?.required"> expyear is required!!! </span>
                                </div>
                            </div>

                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352" formControlName="cvv">
                                <div class="help-block text-danger" *ngIf="cvv.touched">
                                    <span *ngIf="cvv.errors?.required"> cvv is required!!! </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                </label>
                <input type="submit" value="submit" class="btn">
            </form>
        </div>
    </div>

</div>