<main>
  <div class="banner">
    <div class="container">
      <div class="slider-container has-scrollbar">
        <div class="slider-item">
          <img src="./assets/images/banner-1.jpg" alt="women's latest fashion sale" class="banner-img">
          <div class="banner-content">
            <p class="banner-subtitle">Trending item</p>
            <h2 class="banner-title">Women's latest fashion sale</h2>
            <p class="banner-text">
              starting at &#36; <strong>20</strong>.00
            </p>
            <a href="products" class="banner-btn">Shop now</a>
          </div>
        </div>
        <div class="slider-item">
          <img src="./assets/images/banner-2.jpg" alt="modern sunglasses" class="banner-img">
          <div class="banner-content">
            <p class="banner-subtitle">Trending accessories</p>
            <h2 class="banner-title">Modern sunglasses</h2>
            <p class="banner-text">
              starting at &#36; <strong>15</strong>.00
            </p>
            <a href="products" class="banner-btn">Shop now</a>
          </div>
        </div>
        <div class="slider-item">
          <img src="./assets/images/banner-3.jpg" alt="new fashion summer sale" class="banner-img">
          <div class="banner-content">
            <p class="banner-subtitle">Sale Offer</p>
            <h2 class="banner-title">New fashion summer sale</h2>
            <p class="banner-text">
              starting at &#36; <strong>29</strong>.99
            </p>
            <a href="products" class="banner-btn">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-featured">
    <h2 class="title">Deal of the day</h2>
    <div class="showcase-wrapper has-scrollbar">
      <div class="showcase-container">
        <div class="showcase">
          <div class="showcase-banner">
            <img src="./assets/images/products/shampoo.jpg" alt="shampoo, conditioner & facewash packs"
              class="showcase-img">
          </div>
          <div class="showcase-content">
            <div class="showcase-rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <a href="#">
              <h3 class="showcase-title">shampoo, conditioner & facewash packs</h3>
            </a>
            <p class="showcase-desc">
              Lorem ipsum dolor sit amet consectetur Lorem ipsum
              dolor dolor sit amet consectetur Lorem ipsum dolor
            </p>
            <div class="price-box">
              <p class="price">$150.00</p>
              <del>$200.00</del>
            </div>
            <button class="add-cart-btn">add to cart</button>
            <div class="showcase-status">
              <div class="wrapper">
                <p>
                  already sold: <strong>20</strong>
                </p>
                <p>
                  available: <strong>40</strong>
                </p>
              </div>
              <div class="showcase-status-bar"></div>
            </div>
            <div class="countdown-box">
              <p class="countdown-desc">
                Hurry Up! Offer ends in:
              </p>
              <div class="countdown">
                <div class="countdown-content">
                  <p class="display-number">360</p>
                  <p class="display-text">Days</p>
                </div>
                <div class="countdown-content">
                  <p class="display-number">24</p>
                  <p class="display-text">Hours</p>
                </div>
                <div class="countdown-content">
                  <p class="display-number">59</p>
                  <p class="display-text">Min</p>
                </div>
                <div class="countdown-content">
                  <p class="display-number">00</p>
                  <p class="display-text">Sec</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="showcase-container">
        <div class="showcase">
          <div class="showcase-banner">
            <img src="./assets/images/products/jewellery-1.jpg" alt="Rose Gold diamonds Earring" class="showcase-img">
          </div>
          <div class="showcase-content">
            <div class="showcase-rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
            <h3 class="showcase-title">
              <a href="#" class="showcase-title">Rose Gold diamonds Earring</a>
            </h3>
            <p class="showcase-desc">
              Lorem ipsum dolor sit amet consectetur Lorem ipsum
              dolor dolor sit amet consectetur Lorem ipsum dolor
            </p>
            <div class="price-box">
              <p class="price">$1990.00</p>
              <del>$2000.00</del>
            </div>
            <button class="add-cart-btn">add to cart</button>
            <div class="showcase-status">
              <div class="wrapper">
                <p> already sold: <strong>15</strong> </p>
                <p> available: <strong>40</strong> </p>
              </div>
              <div class="showcase-status-bar"></div>
            </div>
            <div class="countdown-box">
              <p class="countdown-desc">Hurry Up! Offer ends in:</p>
              <div class="countdown">
                <div class="countdown-content">
                  <p class="display-number">360</p>
                  <p class="display-text">Days</p>
                </div>
                <div class="countdown-content">
                  <p class="display-number">24</p>
                  <p class="display-text">Hours</p>
                </div>
                <div class="countdown-content">
                  <p class="display-number">59</p>
                  <p class="display-text">Min</p>
                </div>
                <div class="countdown-content">
                  <p class="display-number">00</p>
                  <p class="display-text">Sec</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="testimonials-box">
        <div class="testimonial">
          <h2 class="title">testimonial</h2>
          <div class="testimonial-card">
            <img src="./assets/images/testimonial-1.jpg" alt="alan doe" class="testimonial-banner" width="80"
              height="80">
            <p class="testimonial-name">Alan Doe</p>
            <p class="testimonial-title">CEO & Founder Invision</p>
            <img src="./assets/images/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">
            <p class="testimonial-desc">
              Lorem ipsum dolor sit amet consectetur Lorem ipsum
              dolor dolor sit amet.
            </p>
          </div>
        </div>
        <div class="cta-container">
          <img src="./assets/images/cta-banner.jpg" alt="summer collection" class="cta-banner">
          <a href="products" class="cta-content">
            <p class="discount">25% Discount</p>
            <h2 class="cta-title">Summer collection</h2>
            <p class="cta-text">Starting @ $10</p>
            <button class="cta-btn">Shop now</button>
          </a>
        </div>
        <div class="service">
          <h2 class="title">Our Services</h2>
          <div class="service-container">
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="boat-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Worldwide Delivery</h3>
                <p class="service-desc">For Order Over $100</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="rocket-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Next Day delivery</h3>
                <p class="service-desc">UK Orders Only</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="call-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Best Online Support</h3>
                <p class="service-desc">Hours: 8AM - 11PM</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="arrow-undo-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">Return Policy</h3>
                <p class="service-desc">Easy & Free Return</p>
              </div>
            </a>
            <a href="#" class="service-item">
              <div class="service-icon">
                <ion-icon name="ticket-outline"></ion-icon>
              </div>
              <div class="service-content">
                <h3 class="service-title">30% money back</h3>
                <p class="service-desc">For Order Over $100</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog">
    <div class="container">
      <div class="blog-container has-scrollbar">
        <div class="blog-card">
          <a href="#">
            <img src="./assets/images/blog-1.jpg" alt="Clothes Retail KPIs 2021 Guide for Clothes Executives"
              width="300" class="blog-banner">
          </a>
          <div class="blog-content">
            <a href="products" class="blog-category">Fashion</a>
            <a href="products">
              <h3 class="blog-title">Clothes Retail KPIs 2021 Guide for Clothes Executives.</h3>
            </a>
            <p class="blog-meta">
              By <cite>Mr Admin</cite> / <time datetime="2022-04-06">Apr 06, 2022</time>
            </p>
          </div>
        </div>
        <div class="blog-card">
          <a href="products">
            <img src="./assets/images/blog-2.jpg" alt="Curbside fashion Trends: How to Win the Pickup Battle."
              class="blog-banner" width="300">
          </a>
          <div class="blog-content">
            <a href="products" class="blog-category">Clothes</a>
            <h3>
              <a href="products" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
            </h3>
            <p class="blog-meta">
              By <cite>Mr Robin</cite> / <time datetime="2022-01-18">Jan 18, 2022</time>
            </p>
          </div>
        </div>
        <div class="blog-card">
          <a href="products">
            <img src="./assets/images/blog-3.jpg" alt="EBT vendors: Claim Your Share of SNAP Online Revenue."
              class="blog-banner" width="300">
          </a>
          <div class="blog-content">
            <a href="products" class="blog-category">Shoes</a>
            <h3>
              <a href="products" class="blog-title">EBT vendors: Claim Your Share of SNAP Online Revenue.</a>
            </h3>
            <p class="blog-meta">
              By <cite>Mr Selsa</cite> / <time datetime="2022-02-10">Feb 10, 2022</time>
            </p>
          </div>
        </div>
        <div class="blog-card">
          <a href="products">
            <img src="./assets/images/blog-4.jpg" alt="Curbside fashion Trends: How to Win the Pickup Battle."
              class="blog-banner" width="300">
          </a>
          <div class="blog-content">
            <a href="products" class="blog-category">Electronics</a>
            <h3>
              <a href="products" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
            </h3>
            <p class="blog-meta">
              By <cite>Mr Pawar</cite> / <time datetime="2022-03-15">Mar 15, 2022</time>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>