.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 2rem;
    word-wrap: break-word;
    background: rgb(5, 4, 4);
    background-clip: border-box;
    border: 1px solid rgba(232, 225, 225, 0.2);
    border-radius: .25rem;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    align-items: center;
    height: 3rem;

}


.flex-container>div {

    width: 100px;
    color: white;
    margin-top: 1rem;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-left: 8rem;

}






.nav {
    text-align: center;
}



.card {
    padding: 20px;
    margin: 50px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}